* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  /* 단어의 첫 번째 글자는 대문자 */
  text-transform: capitalize;

}

*::selection {
  background: #454545;
  color: #ffffff;
}

html {
  font-size: 18px;
  overflow-x: hidden;
  /* tag : a 의 움직임이 부드러워 짐 */
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  scroll-padding-top: 6rem;
  /* font-size *2 */
}

body {
  background: #f7f7f7;
}

/* 네비게이션 */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* flex 일 떄, item 들의 사이에 균일한 간격을 만들어줌 */
  justify-content: space-between;
  background: #ffffff;
  padding: 5px 7%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
  font-family: 'Ephesis', cursive;
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}

header .logo:hover {
  color: #000000;
}

header .navbar a {
  font-size: 18px;
  margin-left: 50px;
  color: #808080;
}

header .navbar a:hover {
  color: #000000;
}

header .navbar2 .nav-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

header .navbar2 #search:hover,
header .navbar2 #sign-in:hover {
  transform: scale(1.4);
}

header .navbar2 #menu,
header .navbar2 #search,
header .navbar2 #sign-in {
  margin-right: 20px;
}

header .navbar2 #menu {
  display: none;
}

header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 500px;
  height: 50px;
  background: #ffffff;
  border-radius: .5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  border-radius: 5px;
}

header .search-form.active {
  right: 10px;
  transition: .2s linear;
}

header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 15px;
  color: #000000;
  padding: 0 15px;
}

header .search-form label {
  font-size: 20px;
  padding-right: 35px;
  cursor: pointer;
  background: #ffffff url("../icon/search10.png") 0 0 no-repeat;
  height: 24px;
  width: 24px;
}

header .search-form label:hover {
  background: #ffffff url("../icon/search10-g.png") 0 0 no-repeat;
  height: 24px;
  width: 24px;
}

header .login-form .login-box {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  margin: 10px 0;
}

header .login-form.active {
  right: 10px;
  transition: .2s linear;
}

header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 400px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  text-align: center;
}

header .login-form h3 {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 10px;
}

header .login-form .login-box {
  margin: 10px 0;
  background: #eee;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #000000;
  text-transform: none;
  width: 100%;
  margin: 5px 0;
}

header .login-form .btn {
  margin-top: 15px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 3px solid #454545;
  color: #000000;
  cursor: pointer;
  background: none;
  width: 100%;
  font-weight: bold;
}

header .login-form .btn:hover {
  background: #454545;
  color: #ffffff;
}

header .login-form p {
  font-size: 15px;
  color: #000000;
}

header .login-form .click-m {
  margin-top: 15px;
  padding-bottom: 3px;
}

header .login-form p a {
  color: #039;
  text-decoration: underline;
}

/* 캐러셀 */

.carousel-inner {
  margin-bottom: 100px;
}

.carousel-item {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  text-align: center;
}

.carousel-item.item1 {
  background-image: url('../img/carousel1.jpg');
  background-position: left center;
}

.carousel-item.item2 {
  background-image: url('../img/carousel2.jpg');
  background-position: center bottom;
}

.carousel-item.item3 {
  background-image: url('../img/carousel3.jpg');
  background-position: bottom center;
}

.carousel-item.item4 {
  background-image: url('../img/carousel4.jpg');
  background-position: top center;
}

.carousel-item.item5 {
  background-image: url('../img/carousel5.jpg');
  background-position: top center;
}

.carousel-item.item6 {
  background-image: url('../img/carousel6.jpg');
  background-position: center center;
}

.carousel-item.item7 {
  background-image: url('../img/carousel7.jpg');
  background-position: center center;
}

.carousel-item.item8 {
  background-image: url('../img/carousel8.jpg');
  background-position: bottom center;
}

.carousel-item.item9 {
  background-image: url('../img/carousel9.jpg');
  background-position: center center;
}

.carousel-helper {
  display: inline-block;
  /* height: 100%; 로 하면 수직 가운데 정렬 */
  /* position: relative; 로 상하좌우 값 줘도 됨 */
  vertical-align: middle;
  height: 170%;
}

.carousel-intro {
  display: inline-block;
  text-align: left;
}

.carousel-intro h2 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px gray;
}

.carousel-intro p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin: 0;
  text-shadow: 1px 1px 2px gray;
}

/* our */

.heading {
  font-family: 'Ephesis', cursive;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  color: #000000;
}

.container {
  /* height: 80vh; */
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* 아이템을 가운데로 정렬 */
  /* background-color: #dcdcdc; */
}

.container .card-m {
  margin: 10px 10px;
}

.container .card-bg,
.card-bg2,
.card-bg3,
.card-bg4,
.card-bg5,
.card-bg6,
.card-bg7,
.card-bg8,
.card-bg9 {
  height: 400px;
  width: 300px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5%;
}

.container .card {
  height: 400px;
  width: 300px;
  text-align: center;
  border-radius: 5%;
}

.container .card .profile-img {
  margin: 0 auto;
  height: 400px;
  width: 300px;
  border-radius: 5%;
  object-fit: cover;
}

.container .card h3 {
  overflow: hidden;
  margin-top: 5px;
  font-size: 30px;
  color: white;
}

.container .card span,
p {
  overflow: hidden;
  font-size: 15px;
  color: #fffafa;
  margin: 0;
}

.container .card p {
  overflow: hidden;
  margin-top: 20px;
}

.container .sns-icon {
  overflow: hidden;
  margin-top: 30px;
}

.container .sns-icon .blog {
  overflow: hidden;
  padding: 0 10px;
}

/*  our-hover */

.container .card-bg:hover {
  background-image: url('../img/profile-bg.jpg');
}

.container .card-bg2:hover {
  background-image: url('../img/profile-bg2.jpg');
}

.container .card-bg3:hover {
  background-image: url('../img/profile-bg3.png');
}

.container .card-bg4:hover {
  background-image: url('../img/profile-bg4.jpg');
}

.container .card-bg5:hover {
  background-image: url('../img/profile-bg5.png');
}

.container .card-bg6:hover {
  background-image: url('../img/profile-bg6.jpg');
}

.container .card-bg7:hover {
  background-image: url('../img/profile-bg7.jpg');
}

.container .card-bg8:hover {
  background-image: url('../img/profile-bg8.jpg');
}

.container .card-bg9:hover {
  background-image: url('../img/profile-bg9.jpg');
}

.container .card:hover {
  height: 400px;
  width: 300px;
  text-align: center;
  /* 카드 투명도 색상 */
  background: rgba(0, 0, 0, .7);
  /* backdrop-filter: blur(0.2px); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  border-radius: 5%;
}

.container .card:hover .profile-img {
  margin: 0 auto;
  height: 120px;
  width: 120px;
  margin-top: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, .2),
    0 15px 100px rgba(0, 0, 0, .1);
}

.container .card:hover p {
  font-size: 15px;
  color: #fffafa;
  margin-top: 30px;
}

.container .card:hover h3 {
  margin-top: 5px;
  padding-bottom: 3px;
  font-size: 30px;
  color: white;
}

.container .card:hover span {
  font-size: 15px;
  color: #fffafa;
  margin: 0;
}

.container .sns-icon:hover {
  margin-top: 30px;
}

.container .sns-icon:hover .blog {
  padding: 0 10px;
}

/* Memories */
/* heading 값 및 container는 our와 동일*/

.container .post-m {
  margin-bottom: 30px;
}

.container .post-box {
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  flex-flow: column wrap;
  width: 100%;
}

.container .post-box a {
  color: #454545;
}

.container .post-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

.container .post-box .post-img-hw {
  height: 200px;
  width: 100%;
  background-size: cover;
}

.container .post-box .post-img1 {
  background-image: url('../img/carousel1.jpg');
  background-position: left center;
}

.container .post-box .post-img2 {
  background-image: url('../img/carousel2.jpg');
  background-position: bottom center;
}

.container .post-box .post-img3 {
  background-image: url('../img/carousel3.jpg');
  background-position: center center;
}

.container .post-box .post-img4 {
  background-image: url('../img/carousel4.jpg');
  background-position: center center;
}

.container .post-box .post-info-box {
  height: 50%;
  width: 100%;
  padding: 15px;
  background: #FAFAFA;
}

.container .post-box .post-info-box h2 {
  font-size: 20px;
  overflow: hidden;

  /* 텍스트가 길어져도 줄바꿈 되지 않고 한 줄에 입력 */
  white-space: nowrap;

  /* 일정 범위 밖으로 나가면 잘린 텍스트는 ... 으로 표시 */
  text-overflow: ellipsis;

  font-weight: bold;
  margin: 0;
}

.container .post-box .post-info-box span {
  font-size: 15px;
  overflow: hidden;

  /* 일정 범위 밖으로 나가면 잘린 텍스트는 ... 으로 표시 */
  text-overflow: ellipsis;

  font-weight: bold;
}

.container .post-box .post-img-hw .user {
  display: block;
  background-color: #000000;
  background-color: rgba(0, 0, 0, .7);
  padding: 3px 8px 5px 8px;
  border-radius: 16px;
  margin: 7px 5px;
  float: right;
  /* opacity: 0.5; 배경 및 글자까지 반투명*/
}

.container .post-box .post-img-hw .user img,
.user-name {
  display: inline-block;
  vertical-align: middle;
  font-weight: lighter;
  color: #ffffff;
  font-size: 15px;
}

.container .more-box {
  width: 1260px;
  text-align: right;
  animation: horizontal 0.7s ease-in-out infinite;
}

.container .more-box a {
  color: #454545;
}

.container .more-box .arrow-right {
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent transparent black;
}

@keyframes horizontal {
  0% {
    margin-left: 1px;
  }

  50% {
    margin-left: 3px;
  }

  100% {
    margin-left: 1px;
  }
}

/* about */
.post-record-box .border {
  border-radius: 5px;
}

.post-record-box input,
textarea {
  width: 100%;
  margin: 5px 0;
}

.post-record-box .post-record-title {
  height: 50px;
  padding: 0 10px;
  font-size: 20px;
}

.post-record-box .post-record-subtitle {
  height: 35px;
  padding: 0 10px;
  font-size: 17px;
}

.post-record-box .post-record-contents {
  overflow: scroll;
  font-size: 15px;
  padding: 5px 10px;
}

.post-record-box .post-record-file-box {
  height: 50px;
  background: #ffffff;
  padding: 0 10px;
  display: grid;
  align-items: center;
}

.post-record-box .post-record-file {
  margin: 0;
}

.post-record-box .test {
  display: grid;

  /* 그리드 크기 지정 : 반복값 자동 처리(남는 공간 자동으로 채움, 최소최댓값 지정(최소, 최대(자동))*/
  grid-template-columns: repeat(auto-fit, minmax(40px, 100px));

  gap: 5px;
  place-content: center end;
}

.post-record-box .btn {
  margin-top: 15px;
  background: #454545;
  color: #ffffff;
}

.post-record-box .btn:hover {
  background: #04B486;
}

.post-record-box .hred:hover {
  background: #DF0101;
}

/* footer */

.footer {
  box-shadow: 0 -5px 1px -5px #333;
}

.footer .box-container {
  display: grid;

  /* 그리드 크기 지정 : 반복값 자동 처리(남는 공간 자동으로 채움, 최소최댓값 지정(최소, 최대(자동))*/
  grid-template-columns: repeat(auto-fit, minmax(10px, auto));

  /* 그리드 간격 */
  gap: 10px;

  align-items: center;
  justify-items: center;
}

.footer .box-container .box h3 {
  font-family: 'Telex', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding: 10px 20px;
  padding-top: 25px;
  margin: 0;
  display: block;
}

.footer .box-container .box a {
  font-size: 15px;
  color: #000000;
  padding: 5px 0 5px 20px;
  display: block;
}

.footer .box-container .box a:hover {
  transform: scale(1.2);
}

.footer .box-container .box p {
  display: inline-block;
  color: #333;
  vertical-align: middle;
  font-size: 15px;
}

.footer .box-container .box .c-email {
  text-transform: lowercase;
  vertical-align: middle;
}

.footer .credit {
  padding: 20px;
  text-align: center;
  font-size: 10px;
  color: #808080;
}

/* @media */

@media (max-width: 1400px) {
  .container .post-box .post-img-hw {
    width: 100%;
  }

  .container .post-box .post-info-box {
    width: 1140px;
  }

  .container .more-box {
    width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container .post-box .post-img-hw {
    width: 100%;
  }

  .container .post-box .post-info-box {
    width: 980px;
  }

  .container .more-box {
    width: 980px;
  }

  .carousel-intro h2 {
    font-size: 35px;
  }

  .carousel-intro p {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }

  header .navbar a {
    margin: 5px 10px;
    font-size: 15px;
  }

  .container .post-box .post-img-hw {
    width: 100%;
  }

  .container .post-box .post-info-box {
    width: 760px;
  }

  .container .more-box {
    width: 760px;
  }

  .carousel-intro h2 {
    font-size: 25px;
  }

  .carousel-intro p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {

  header .navbar2 #menu {
    display: inline-block;
  }

  header .search-form {
    width: 97.5%;
  }

  header .login-form {
    width: 97.5%;
  }

  header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 97.5%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background: #ffffff;
    display: block;
  }

  header .navbar.active {
    right: 7px;
    transition: .2s linear;
  }

  header .navbar a {
    margin: 5px 10px;
    font-size: 20px;
    display: block;
  }

  .container .post-box .post-img-hw {
    width: 100%;
  }

  .container .post-box .post-info-box {
    width: 580px;
  }

  .container .more-box {
    width: 580px;
  }

  .carousel-intro h2 {
    font-size: 20px;
  }

  .carousel-intro p {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .container .post-box .post-img-hw {
    width: 100%;
  }

  .container .post-box .post-info-box {
    width: 440px;
  }

  .container .more-box {
    width: 440px;
  }


  .carousel-intro h2 {
    font-size: 18px;
  }

  .carousel-intro p {
    font-size: 15px;
  }
}

@media (max-width: 200px) {
  .container .post-box .post-img-hw {
    width: 100%;
  }

  .container .post-box .post-info-box {
    width: 100%;
  }

  .container .more-box {
    width: 100%;
  }

  .carousel-intro {
    width: 100%;
  }

  .carousel-intro h2 {
    font-size: 18px;
  }

  .carousel-intro p {
    font-size: 15px;
  }

}