.slide-container {
  width: 300vw;
  /* transition: transform 1s; */
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.slide-btn {
  margin: 0 15px;
  color: black;
  font-size: 25px;
  border: 1px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.slide-right {
  position: absolute;
  top: 50%;
  right: 0;
}

.slide-left {
  position: absolute;
  top: 50%;
  left: 0;
}