.jumbotron {
  background: lightslategray;
  color: aliceblue;
  padding: 20px;
}

.modal-box {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s;
  transform: translateY(-1500px);
}

.modal-alert {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

.modal-alert p {
  display: inline-block;
}

.modal-alert #pw {
  margin-top: 10px;
}

.form-group p {
  display: none;
}

.btn {
  margin-top: 15px;
}