* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none!important;
  text-transform: capitalize; /* 단어의 첫 번째 글자는 대문자 */
}

*::selection {
  background: #454545;
  color: #ffffff;
}

html {
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth; /* tag : a 의 움직임이 부드러워 짐 */
  scroll-snap-type: both;
  scroll-snap-align: center;
  scroll-padding-top: 6rem; /* font-size *2 */
}

body {
  background: #f7f7f7;
}

/* 네비게이션 */

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center; /* flex 일 때, 수직 정렬 */
  justify-content: space-between; /* flex 일 떄, item 들의 사이에 균일한 간격을 만들어줌 */
  background: #ffffff;
  padding: 5px 7%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo {
  font-family: 'Ephesis', cursive;
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}

header .logo:hover {
  color: #000000;
}

header .navbar a {
  font-size: 18px;
  margin-left: 30px;
  color: #808080;
}

header .navbar a:hover {
  color: #000000;
}

header .navbar2 .nav-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

header .navbar2 img:hover {
  transform: scale(1.4);
}

header .navbar2 #search,
header .navbar2 #sign-in {
  margin-right: 10px;
}

/* 캐러셀 */

.carousel-inner {
  margin-bottom: 100px;
}

.carousel-item {
  height: 100vh;
  width: 100%;
  background-size: cover;
  text-align: center;
}

.carousel-item.item1 {
  background-image: url('../img/carousel1.jpg');
  background-position: left center;
}

.carousel-item.item2 {
  background-image: url('../img/carousel2.jpg');
  background-position: center bottom;
}

.carousel-item.item3 {
  background-image: url('../img/carousel3.jpg');
  background-position: bottom center;
}

.carousel-item.item4 {
  background-image: url('../img/carousel4.jpg');
  background-position: top center;
}

.carousel-item.item5 {
  background-image: url('../img/carousel5.jpg');
  background-position: top center;
}

.carousel-item.item6 {
  background-image: url('../img/carousel6.jpg');
  background-position: center center;
}

.carousel-item.item7 {
  background-image: url('../img/carousel7.jpg');
  background-position: center center;
}

.carousel-item.item8 {
  background-image: url('../img/carousel8.jpg');
  background-position: bottom center;
}

.carousel-item.item9 {
  background-image: url('../img/carousel9.jpg');
  background-position: center center;
}

.carousel-helper {
  display: inline-block;
  vertical-align: middle;
  /* height: 100%; 로 하면 수직 가운데 정렬 */
  /* position: relative; 로 상하좌우 값 줘도 됨 */
  height: 170%;
}

.carousel-intro {
  display: inline-block;
  text-align: left;
}

.carousel-intro h2 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px gray;
}

.carousel-intro p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  clear: left;
  margin: 0;
  text-shadow: 1px 1px 2px gray;
}

/* our */

.heading {
  font-family: 'Ephesis', cursive;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  color: #000000;
}

.container {
  /* height: 80vh; */
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center; /* 아이템을 가운데로 정렬 */
  /* background-color: #dcdcdc; */
}

.container .card-m {
  margin: 10px 10px;
}

.container .card-bg,
.card-bg2, .card-bg3, .card-bg4,
.card-bg5, .card-bg6, .card-bg7,
.card-bg8, .card-bg9 {
  height: 400px;
  width: 300px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5%;
}

.container .card {
  height: 400px;
  width: 300px;
  text-align: center;
  border-radius: 5%;
}

.container .card .profile-img {

  margin: 0 auto;
  height: 400px;
  width: 300px;
  border-radius: 5%;
  object-fit: cover;
}

.container .card h3 {
  overflow: hidden;
  margin-top: 5px;
  font-size: 30px;
  color: white;
}

.container .card span,p {
  overflow: hidden;
  font-size: 15px;
  color: #fffafa;
  margin: 0;
}

.container .card p {
  overflow: hidden;
  margin-top: 20px;
}

.container .sns-icon {
  overflow: hidden;
  margin-top: 30px;
}

.container .sns-icon .blog{
  overflow: hidden;
  padding : 0 10px;
}

/*  our-hover */

.container .card-bg:hover {
  background-image: url('../img/profile-bg.jpg');
}

.container .card-bg2:hover {
  background-image: url('../img/profile-bg2.jpg');
}

.container .card-bg3:hover {
  background-image: url('../img/profile-bg3.png');
}

.container .card-bg4:hover {
  background-image: url('../img/profile-bg4.jpg');
}

.container .card-bg5:hover {
  background-image: url('../img/profile-bg5.png');
}

.container .card-bg6:hover {
  background-image: url('../img/profile-bg6.jpg');
}

.container .card-bg7:hover {
  background-image: url('../img/profile-bg7.jpg');
}

.container .card-bg8:hover {
  background-image: url('../img/profile-bg8.jpg');
}

.container .card-bg9:hover {
  background-image: url('../img/profile-bg9.jpg');
}

.container .card:hover {
  height: 400px;
  width: 300px;
  text-align: center;
  background: rgba(0,0,0,.7); /* 카드 투명도 색상 */
  background-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  border-radius: 5%;
}

.container .card:hover .profile-img {
  margin: 0 auto;
  height: 120px;
  width: 120px;
  margin-top: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 10px rgba(255,255,255,.2),
              0 15px 100px rgba(0,0,0,.1);
}

.container .card:hover p {
  font-size: 15px;
  color: #fffafa;
  margin-top: 30px;
}

.container .card:hover h3 {
  margin-top: 5px;
  padding-bottom: 3px;
  font-size: 30px;
  color: white;
}

.container .card:hover span {
  font-size: 15px;
  color: #fffafa;
  margin: 0;
}

.container .sns-icon:hover {
  margin-top: 30px;
}

.container .sns-icon:hover .blog {
  padding : 0 10px;
}

/* Memories */
/* heading 값은 our와 돵일*/

.container-m {
  /* height: 80vh; */
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap; /* 자동 줄바꿈 (너비기준) */
  align-items: center; /* 수직 */
  justify-content: center; /* 수평 */
  align-content: center; /* 아이템을 가운데로 정렬 */
  flex: 1 1 50%;

}

.container-m .postbox {
  height: 200px;
  width: 100%;
  text-align: center;
}

.container-m .post-img {
  height: 200px;
  width: 200px;
  background-image: url('../img/carousel1.jpg');
  background-position: left center;
  background-size: cover;
  float: left;
}

.container-m .post-info-box {
  height: 150px;
  width: 70%;
  float: left;
}

.container-m .post-info-box h2{
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap; /* 텍스트가 길어져도 줄바꿈 되지 않고 한 줄에 입력 */
  text-overflow: ellipsis; /* 일정 범위 밖으로 나가면 잘린 텍스트는 ... 으로 표시 */
  font-weight: bold;
}

.container-m .post-info-box span{
  display: block;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis; /* 일정 범위 밖으로 나가면 잘린 텍스트는 ... 으로 표시 */
  font-weight: bold;
}
