* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* 표준 */
.col {
  float: left;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #353535;
}

.banner {
  background-image: url("../images/main_img.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 350px;
}

.info {
  background-color: white;
  width: 100%;
  height: 320px;
}

.info .helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info .info-container {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}

.info .lable {
  font-size: 16px;
  color: #4a4a4a;
}

.infi h2 {
  font-size: 20px;
  color: #1b1b1b;
  margin-top: 10px;
  margin-bottom: 30px;
}

.info p {
  font-size:16px;
  color: #7a7a7a;
  margin: 0;
}

.img-div1 {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 385px;
}

.img-div2 {
  background-image: url("../images/img2.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 200px;
  text-align: center;
}

.img-div2 .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.img-div2 a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 4px solid white;
  text-decoration: 0;
  padding: 9px 40px;
  vertical-align: middle;
}

.img-div3 {
  background-image: url("../images/img3.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 200px;
}

/* 가로 길이 768px 부터 991px 까지 */
@media (min-width: 768px) {
  .col {
    float: left;
  }
  
  .banner {
    height: 562px;
  }
  
  .info {
    height: 282px;
  }
  
  .info .info-container {
    padding-left: 65px;
    padding-right: 65px;
}
  
  .img-div1 {
    height: 360px;
    width: 50%;
  }
  
  .img-div2 {
    height: 180px;
    width: 50%;
  }
  
  .img-div3 {
    height: 180px;
    width: 50%;
  }
}

/* 가로길이 992px 이상 부터  */
@media (min-width: 992px) {
  .banner {
    height: 700px;
    width: 50%
  }
  
  .info {
    height: 350px;
    width: 50%;
  }
  
  .info .info-container {
    padding-left: 65px;
    padding-right: 65px;
  }
  
  .img-div1 {
    height: 350px;
    width: 25%;
  }
  
  .img-div2 {
    height: 175px;
    width: 25%;
  }
  
  .img-div3 {
    height: 175px;
    width: 25%;
  }
}