/* logo */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/* font-family: 'Ephesis', cursive; */

/* nav */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* font-family: 'Sriracha', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
/* font-family: 'Telex', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
