.jumbotron {
  background: lightslategray;
  color: aliceblue;
  padding: 20px;
}

.modal-box {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s;
}

.modal-alert {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

.modal-alert p {
  display: inline-block;
}