@charset "UTF-8";
* {
  font-family: sans-serif, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
}

/* 공통 사용 클래스 */
.mt100 {
  margin-top: 100px;
}

.mt40 {
  margin-top: 40px;
}

.footer, main .btn, main #drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .h-align {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  background-color: rgba(15, 15, 15, 0.774);
  vertical-align: middle;
}
header .h-align a {
  color: #a8a4a4;
}
header .h-align .test span {
  font-family: "Black Han Sans", sans-serif;
  font-size: 32px;
  padding-left: 10px;
  color: white;
}
header .h-align ul {
  margin: 0;
  padding: 0;
}
header .h-align ul li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0 20px;
}
header .h-align .nav-hover:hover {
  color: white;
  font-weight: unset;
}
header .h-align input {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  color: rgba(15, 15, 15, 0.774);
  border-radius: 3px;
  padding: 5px 20px;
}
header .h-align input:hover {
  background-color: #0d6efd;
  color: white;
}

main {
  max-width: 1140px;
  margin: 0 auto;
  /* 장바구니 영역 */
}
main article {
  text-align: center;
  padding: 15px;
}
main form {
  display: flex;
}
main .s-btn {
  width: 10% !important;
  margin: 50px 0px 0 10px !important;
  height: 45px !important;
}
main input {
  height: 100%;
  width: 100%;
  margin: 50px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-clip: padding-box;
}
main .list-title {
  font-size: 25px;
  margin-bottom: 30px !important;
  text-align: left;
  font-weight: bolder;
}
main .card-deck {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  text-align: left;
}
main .card-deck .card {
  flex-basis: 160px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  overflow: hidden;
  flex-direction: column;
}
main .card-deck .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px 5px;
}
main .card-deck .card-img-top {
  height: 100px;
}
main .card-deck .card-title {
  line-height: 16px;
  height: 32px;
  margin: 0;
}
main .card-deck .product-name {
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}
main .card-deck .brand-name {
  font-size: 12px;
}
main .card-deck .card-footer {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  height: 40px;
}
main .card-deck .price {
  position: relative;
  font-size: 13px;
  vertical-align: middle;
}
main #basket {
  border: 1px solid #999;
  border-radius: 4px;
}
main #drop-area {
  width: 90%;
  height: 100%;
  line-height: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin: 15px auto;
  vertical-align: middle;
  font-size: 15px;
}
main .text-right {
  width: 95%;
  text-align: right;
}
main .btn {
  width: 90%;
  margin: 15px auto;
  height: 40px;
}

.footer {
  background-color: rgba(15, 15, 15, 0.774);
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 15px;
  color: white;
  margin-top: 50px;
}/*# sourceMappingURL=index.css.map */