* {
  font-family: sans-serif, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
}

/* 공통 사용 클래스 */
.mt100 {
  margin-top: 100px;
}

.mt40 {
  margin-top: 40px;
}

%flex {
  display: flex;
  justify-content: center;
}

%flex-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

$bb: rgba(15, 15, 15, 0.774);
$rg: rgb(224, 224, 224);
$tg: rgb(168, 164, 164);
$trg: rgba(255, 255, 255, 0.719);
$tw: rgb(255, 255, 255);

// 헤더
header {

  .h-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    background-color: $bb;
    vertical-align: middle;

    a {
      color: $tg;
    }

    .test {
      span {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 32px;
        padding-left: 10px;
        color: $tw;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        padding: 0 20px;
      }
    }

    .nav-hover:hover {
      color: $tw;
      font-weight: unset;
    }

    input {
      background-color: $tw;
      font-size: 15px;
      font-weight: bold;
      color: $bb;
      border-radius: 3px;
      padding: 5px 20px;
    }

    input:hover {
      background-color: #0d6efd;
      color: $tw;
    }
  }
}

main {
  max-width: 1140px;
  margin: 0 auto;

  article {
    text-align: center;
    padding: 15px;
  }

  // 검색 영역
  form {
    display: flex;
  }

  .s-btn {
    width: 10% !important;
    margin: 50px 0px 0 10px !important;
    height: 45px !important;
  }

  input {
    height: 100%;
    width: 100%;
    margin: 50px 0;
    padding: 10px;
    border: 1px solid $rg;
    border-radius: 3px;
    background-clip: padding-box;
  }

  .highlight {
    background-color: yellow;
    font-size: 12px;
    font-weight: bold;
  }

  // 상품 영역
  .list-title {
    font-size: 25px;
    margin-bottom: 30px !important;
    text-align: left;
    font-weight: bolder;
  }

  .card-deck {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: left;

    .card {
      flex-basis: 160px;
      margin-right: 10px;
      margin-bottom: 0;
      margin-left: 10px;
      overflow: hidden;
      flex-direction: column;
    }

    .card-body {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 1px;
      padding: 15px 5px;
    }

    .card-img-top {
      height: 210px;
    }

    .card-title {
      line-height: 16px;
      height: 32px;
      margin: 0;
    }

    .product-name {
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      word-break: break-all;
      text-overflow: ellipsis
    }

    .brand-name {
      font-size: 12px;
    }

    .card-footer {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      height: 40px;
    }

    .price {
      position: relative;
      font-size: 13px;
      vertical-align: middle;
    }
  }

  // 장바구니 영역
  #basket {
    border: 1px solid #999;
    border-radius: 4px;
  }

  #drop-area {
    @extend %flex-all;
    width: 90%;
    height: 100%;
    line-height: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 15px auto;
    vertical-align: middle;
    font-size: 15px;
  }

  .text-right {
    width: 95%;
    text-align: right;
  }

  .btn {
    @extend %flex-all;
    width: 90%;
    margin: 15px auto;
    height: 40px;
  }
}

// footer 영역
.footer {
  @extend %flex-all;
  background-color: $bb;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 15px;
  color: $tw;
  margin-top: 50px;
}