* {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
}

body {
  background: #f7f7f7;
}

%flex {
  display: flex;
  justify-content: center;
}

$bb: rgb(15, 15, 15);
$tg: rgb(143, 143, 143);
$trg: rgba(255, 255, 255, 0.603);
$tw: rgb(255, 255, 255);

header {



  .h-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    background-color: $bb;

    .logo-icon {
      height: 40px;
      width: 40px;
    }

    span {
      font-size: 20px;
      color: $trg;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    justify-content: flex-start;

    li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      padding: 0 20px;
      font-weight: bold;
    }
  }

  a {
    color: $tg;

    span {
      vertical-align: middle;
    }
  }

  .nav-hover:hover {
    color: $tw;
    font-weight: unset;
  }

  input {
    background-color: $tw;
    font-size: 15px;
    font-weight: bold;
    color: $bb;
    border-radius: 3px;
    padding: 5px 20px;
  }

  input:hover {
    background-color: rgb(26, 112, 241);
    color: $tw;
  }
}

main {
  @extend %flex;

  article {
    text-align: center;
    padding: 15px;
    background-color: rgba(212, 209, 209, 0.644);
    width: 90vw;
    max-width: 100vw;
  }

  input {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    width: 80vw;
    height: 40px;
    border-radius: 3px;
  }

  section {
    .container {

      .first{
        text-align: left;
        padding-left: 20px;
        
      }

      .col-8,.col-4 {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}